.l-footer{
    background-color: $colormain;
    font-family: $font-jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $colorwhite;
    

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0px;

        .footer-logo{
            width: 280px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin-right: 50px;

            &__logo{
                width: 224px;
            }

            p{
                margin-bottom: 10px;
            }
            &__icons{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
            }
        }

        .footer-link{
            display: flex;
            justify-content: flex-end;
            gap: 100px;

            &__bloc{
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: start;
                gap: 20px;
                li{
                    
                    a{
                        color: $colorwhite;
                        font-family: $font-jost;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
    
                h4{
                    font-size: 24px;
                    font-family: $font-poppins;
                    font-weight: 600;
                    line-height: 34px;
                    margin-bottom: 10px;
                }
    
    
            }
        }
    }
    address{
        padding: 30px;
        text-align: center;
        font-family: $font-jost;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }
}