.card-wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 614px;
  //height: 730px;
  margin: 10px;

  .card-inner {

    margin: 0 auto;
  }

  .card-img {


    .home-img {
      width: 614px;
      height: 384px;
      border-radius: 10px 10px 0 0;
    }

  }

  .card-txt {
    //margin-top: -4px;
    font-family: 'Popins';
    padding: 0 15px;
    background-color: #D4D1AE;

    h3{
      font-family: $font-poppins;
      font-size: 32px;
      font-weight: 400;
      line-height: 42px;
      margin-bottom: 10px;
    }

    &__stats {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-top: 10px;
      
    }
  }

  .card-description {

    .card-description-box {
      display: flex;
      align-items: center;
      padding-bottom: 10px;

      &--price {
        display: flex;
      }
    }
  }

  .card-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D4D1AE;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    
  }
}


